.carrito{
	width: 90%;
	margin: 0 auto;
}
.lineacarrito{
	border-bottom: 1px solid #ddd;
	padding: 5px;
	overflow: hidden;
}
.lineacarrito p{
	float: left;
	margin:0 10px 0 0;
}
.lineacarrito p span{
	color: #777;
	font-size: 80%;
}
.totalcarrito{
	font-weight: bold;
	padding: 5px;
}
.enlaceeliminar{
	float: right;
}
a, a:visited{
	color: #00c;
}
.descuento{
	color: #090;
}
.pack{
	background-color: #ddf;
	overflow: hidden;
}