
* {

    font-family: "Roboto Condensed", "Roboto", arial;

}

#Titulo {

    border-top: 1px black solid; 

    border-bottom: 1px black solid;

    border-left: 1px black solid;

    border-right: 1px black solid;

}

  

